* {
    box-sizing: border-box;
}

.nav {
    background-color: gray;
    padding-bottom: 30px;
}

.nav li {
    display: inline;
    color: white;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav {
    text-align: center;
    font-size: 1em;
    font-weight: lighter;
    border-bottom: 1px rgba(200, 200, 200, .3);
}

.nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(200, 200, 200, .3);
}

.brand-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: 'Helvetica'
}

h1, h2 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: .5rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.container {
    width: 30;
    height: 40;
}

/*
.flex-container {
    display:inline-flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    flex-basis: auto;
} 

.flex-item {
    justify-content: space-between;
}


nav ul {
    display:flex;
    justify-content: space-between;
    text-align: center;
}


.row {
    display:flex;
}

.column {
    flex-grow: 1;
}
*/

nav ul {
    display: inline flex;
    justify-content: space-between;
    padding: .5rem;
}

nav li {
    display: inline;
}

header h1 {
    left: 0;
    top:0;
}

.flex-box {
    justify-content: space-between;
    flex-grow: 1;
    display: flex;
}

.container img {
    width: 80%;
}

.about-color{
    background-color: lightskyblue;
}


.info-color{
    background-color: lightskyblue;
}

.info, a{
    color: black;
}

.image{
    width: 300px;
    height: 200px;
}

.caption {
    display:inline;
}

.container {
    text-align: center;
}

ul li{
    padding-left:0mm 10mm;
}